
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    width: 1600px;
    height: 92px;
    background-color: #ffffff;
    padding: 16px 120px;
  }

nav{
    width: 85%;
    max-width: 1360px;
    height: 60px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img{
    width: 139px;
    height: 60px;
    margin-top: 16px;
}

nav .menu{
    width: 365px;
    height: 24px;
    margin-top: 34px;
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    line-height: 152%;
    text-decoration: none;
}

.btn{
    
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    background-color: #30b868;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}

.banner{
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
    background-image: url(./assets/hero-bg.png);
}

