
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    width: 1600px;
    height: 92px;
    background-color: #ffffff;
    padding: 16px 120px;
  }

nav{
    width: 85%;
    max-width: 1360px;
    height: 60px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img{
    width: 139px;
    height: 60px;
    margin-top: 16px;
}

nav .menu{
    width: 365px;
    height: 24px;
    margin-top: 34px;
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    font-size: 16px;
    color: #000000;
    line-height: 152%;
    text-decoration: none;
}

.btn{
    
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    background-color: #30b868;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}

.banner{
    width: 1600px;
    height: 674px;
    padding: 70px 120px 134px 120px;
    background-image: url(./assets/hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.banner .banner-container{
    width: 1360px;
    height: 379px;
    gap: 32px;
    padding: 0px;
}

.banner .banner-container .banner-box .banner-btn{
    width: 1360px;
    height: 295px;
    gap: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.access-bar{
    width: 229px;
    height: 35px;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 1000px;
    background-color: #ffffff;
    color: #30b868;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.banner-info h1{
    width: 770px;
    font-style: bold;
    font-size: 72px;
    font-weight: 700px;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
}

.banner-info .box-h1{
    color: #ffffff;
}
.banner-info .box-h2{
    color: #30b868;
}

.banner-box p{
    width: 1360px;
    height: 60px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;

}

.banner-btn{
    width: 465px;
    gap: 16px;
    display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   margin: 0 auto;
}

.banner-btn .btn-1{
    width: 251px;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30b868;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    margin: 0 auto;
    
}

.banner-btn .btn-2{
    width: 198px;
    height: 52px;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    margin: 0 auto;
}

#notes-container{
    width: 1600px;
    height: 480px;
    padding: 0px 120px 0px 120px;
}

#notes-container .note-info{
    width: 1360px;
    height: 152px;
    margin-top: 30px;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.note-info h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.note-info p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

.note-card{
    width: 1360px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;
}

.note-card .card-info{
    width: 322px;
    height: 300px;
    padding: 24px 24px;
    gap: 16px;
    background-color: #f6f6f8;
    border-radius: 10px;
    margin: 0 auto;
    
}
.card-info img{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    color: #f2f3f5;
    margin-top: 70px;
    margin-left: 110px;
    
}

.card-info h4{
    width: 274px;
    font-size: 24px;
    color: #001931;
    margin-top: 16px;
    text-align: center;
}

.card-info p{
    width: 274px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    text-align: center;
}


#brain-section{
    width: 1600px;
    height: 840px;
    padding: 120px 120px;
    margin: 0 auto;
}

#brain-section .brain-container{
    width: 1360px;
    height: 600px;
    margin: 120px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 60px;
    
}

.brain-figure img{
    width: 600px;
    height: 600px;
}

.brain-info{
    width: 700px;
    height: 396px;
    margin-top: 102px;
    margin-bottom: 102px;
    text-align: left;
}

.brain-info h4{
    font-size: 16px;
    color: #30b868;
    margin-bottom: 16px;
}
.brain-info h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.brain-info p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
    
}

.brain-details li{
    text-decoration: none;
    list-style-type: none;
    gap: 16px;
    font-size: 16px;
    color: #001931;
    
    
}

.brain-details img{
    width: 20px;
    height: 20px;
}
